
body {
		font-family: 'Futura', 'Verdana', 'Century Gothic', sans-serif;
		background:#2e2d2a;
}

#menu{
	background:black;
	border:4px double cyan;
	width:1152px;
	height:50px;
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content:space-evenly;
	padding:2px;
	margin:auto;
}

#menu > a{
	display:flex;
	width:30px;
	height:30px;
	background:url('../../site2/sprites/icons.png');
	transform:scale(1.2);
}

#github:link{
	background-position:0px -25px;
}

#github:active{
	background-position:-31px -25px;
}

#gmail:link{
	background-position:0px -60px;
}

#gmail:active{
	background-position:-31px -60px;
}

#close:link{
	background-position:-60px 0px;
}

#close:active{
	background-position:-91px 0px;
	transform:scale(1.5);
}

#wrapper{
	width:1024px;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-left:auto;
	margin-right:auto;
}

nav{
		background-color:#5c5b57;
		border:2px solid black;
		padding:1px;
		width:800px;
		justify-content: center;
		display:flex;
}

nav > a{
	border:2px solid black;
	width:150px;
	text-decoration: none;
	margin:4px;
	text-align:center;
	color:white;
	padding:10px;
	height:20px;
	background:gray;
}

a:visited{
		background-image:url('../img/static.gif');
}

#icon{
		border:3px solid black;
		background:#2e2d2a;
		margin:10px;
		float:left;
}

article{
		width:800px;
		border: 2px solid black;
		margin-top:9.75px;
		background:#42413f;
		padding-left:2px;
}

.fineprint{
		font-style:italic;
		font-size:4px;
		color:#42413f;
		opacity:0.5;
}

footer{
		width:800px;
		clear:both;
		border:2px solid black;
		margin-top:10px;
		background:#4c4d49;
		text-align:center;
}

b{
	color:red;
	font-style:italic;
}

.comments{
		background:#5c5b57;
		font-style:italic;
}

@keyframes static{
	0%{background:url('../img/static.gif');}
}